@font-face {
    font-family: "Proxima";
    font-weight: 400;
    src: 
         url("/fonts/ProximaNova-Regular.woff2") format("woff2"),
         url("/fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
    font-family: "Proxima";
    font-weight: 900;
    src: 
         url("/fonts/ProximaNova-Extrabld.woff2") format("woff2"),
         url("/fonts/ProximaNova-Extrabld.woff") format("woff");
}

@font-face {
font-family: "Proxima";
font-weight: 400;
font-style: italic;
src: 
        url("/fonts/ProximaNova-RegularIt.woff2") format("woff2"),
        url("/fonts/ProximaNova-RegularIt.woff") format("woff");
}